.search {
  padding: 80px 70px 80px;
}

.search__form {
  background-color: #F9F9F9;
  border-radius: 9px;
  height: 72px;
  align-items: center;
}

.search__container {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: solid 1px #E8E8E8;
}

.search__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.search__input {
  display: block;
  width: 100%;
  border: none;
  padding-left: 20px;
  line-height: 72px;
  outline: none;
  background-color: #F9F9F9;
}

.search__flex {
  display: flex;
}

.search__submit {
  width: 34px;
  height: 34px;
  background-image: url(../../images/search-icon.png);
  background-color: #F9F9F9;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  transition: linear .4s;
  border-radius: 50px;
  padding-right: 30px;
  padding-left: 0;
}

.search__submit:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .search {
    padding: 80px 30px 80px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
  .search {
    padding: 80px 14px 80px;
  }
}