.navtab {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background-color: black;
    width: 100%;
    background-color: black;
}
.navtab__link {
    margin-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.navtab__btn {
    text-decoration: underline;
    border: none;
    background-color: black;
}
.navtab__text {
    color: white;
    text-decoration: underline;
}
@media screen and (max-width: 576px) {
    .navtab {
      margin-bottom: 17px;
    }
    .navtab__btn {
      width: 82px;
      height: 26px;
    }
    .navtab__link {
        font-size: 10px;
    }
  }