.navtab {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background-color: black;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #F5F5F5;
}
.navtab__link {
    margin-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.navtab__btn {
    border: none;
    background-color: #E8E8E8;
    border-radius: 10px;
}
.navtab__text {
    color: black;
}
@media screen and (max-width: 576px) {
    .navtab {
      margin-bottom: 17px;
    }
    .navtab__btn {
      width: 82px;
      height: 26px;
    }
    .navtab__link {
        font-size: 10px;
    }
  }